<section id="intro" class="container">
  <h2></h2>
  <article>
    <h3></h3>
    <p></p>
  </article>
  <article>
    <h3></h3>
    <p></p>
  </article>
  <article>
    <h3></h3>
    <p></p>
  </article>
  <article>
    <h3></h3>
    <p></p>
  </article>
</section>